// bower:scss
// endbower


@keyframes background
{
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0 !important;
}

.main{

  color: #333;

  min-width: 1280px;
  text-align: center;

  word-wrap: break-word;
  background: #DAE2F8;
  background: linear-gradient(0deg, #DAE2F8 , #D6A4A4);
  background-size: 400% 400%;
  animation: background 15s ease infinite;
}

a{
  color: #BE7AA3;
  transition: color 0.5s ease;
  &:link{
    color: #BE7AA3;
  }
  &:visited{
    color: #BE7AA3;
  }
  &:active{
    color: #BE7AA3;
  }
  &:hover{
    color: #E0BACE;
  }
}

@keyframes enter
{
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.resume{
  display: inline-block;
  text-align: left;
  opacity: 1;
  left: 50%;
  margin: 32px 0 32px 0;
  width: 1024px;
  animation: enter 1s ease-in;
  box-shadow: 5px 5px 24px 1px #555;
}

.left-section{
  position: relative;
  padding: 64px !important;
  background: #FFFFFF;
}

.right-section{
  padding: 64px !important;
  background: #3B3C41;

}
.avatar {
    margin-bottom: 1em;
    width: 60%;
    border-radius: 50%;
    box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
}
.name{
  text-align: center;
}
.intro{
  margin: 128px 0 0 0;
}
.contact, .social{
  margin-top: 64px;
  .entry{
    padding: 6px 0;
    .title{
      font-weight: 500;
    }
  }
}


.section{

  color: white;
  margin-bottom: 48px;

  .entry{
    padding-bottom: 24px;
  }

  .title{
    color: #8DFFFF;
    font-size: 1.1em;
    font-weight: 500;
    margin-bottom: 12px;
  }

  .primary{
    color: #FFF;
    font-weight: 400;
    padding-bottom: 12px;
    font-size: 0.95em;
  }
  .secondary{
    color: #BBBBBB;
    font-size: 0.85em;
  }
}

.exp-proj{
  .link-icon{
    width: 28px;
    margin-left: 4px;
    vertical-align: middle;
  }
}

.education{
  &.section{
    margin-bottom: 0px;
  }
  .primary{
    padding-bottom: 4px;
  }
}

.skill{
  &.section{
    margin-bottom: 0px;

    .entry{
      padding-bottom: 8px;
    }
  }
}
.progress-bar{
  .enable{
    position: relative;
    z-index: 2;
    display: inline-block;
    background-color: #BE7AA3;
    height: 10px;

    &.green{
      background-color: #73EBAF;
    }
    &.blue{
      background-color: #6FE9EF;
    }
    &.orange{
      background-color: #FEDA64;
    }
    &.purple{
      background-color: #C76DA9;
    }
    &.red{
      background-color: #EF5350;
    }
  }
  .rest{
    width: 48%;
    position: relative;
    z-index: 0;
    right: 2%;
    height: 8px;
    display: inline-block;
    background-color: #222325;
    border-bottom: solid 2px #333333;
    border-top: solid 2px #1f1f1f;
    border-right: solid 2px #333333;
  }
}

.footer{
  position: absolute;
  bottom: 36px;
  color: #888;
  font-size: 0.8em;
}
