<div class="contact">


  {% for item in local.contact %}
  <div class="entry row">
    <div class="column column-33 title">
      {{ item.title }}
    </div>
    <div class="column column-67">
      {% if item.url %}
      <a href="{{item.url}}" target="_blank">{{ item.content }}</a>
      {% else %}
      {{ item.content }}
      {% endif %}
    </div>
  </div>
  {% endfor %}

</div>
