<div class="education section">
  <div class="title">EDUCATIONS</div>

  {% for item in local.educations %}
  <div class="entry">
    <div class="primary">
      {{item.major}} - {{item.degree}}
    </div>
    <div class="secondary">
      {{item.college}}
    </div>
    <div class="secondary">
      {{item.period}}
    </div>
  </div>
  {% endfor %}
</div>
