<div class="exp-proj section">
  <div class="title">EXPERIENCES</div>

  {% for item in local.experiences %}
  <div class="entry">
    <div class="row">
      <div class="column column-40">
        <div class="primary">
          {{item.company}}
        </div>
        <div class="secondary">
          {{item.period}}
        </div>
      </div>
      <div class="column column-60">
        <div class="primary">
          {{item.title}}
        </div>
        <div class="secondary">
          {{item.desc}}
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
