<div class="main">
  <div class="resume">
    <div class="row">

      <div class="left-section column column-40">
        <div class="name">
          <img src="images/avatar.jpg" alt="" class="avatar" />
          <h1>{{ local.name }}</h1>
        </div>

        {% include "layouts/contact.njk" %}

        <div class="intro">
          {{ local.intro | safe }}
        </div>

        {% include "layouts/social.njk" %}

        {% include "layouts/footer.njk" %}
      </div>

      <div class="right-section column column-60">

        {% include "layouts/experience.njk" %}
        {% include "layouts/project.njk" %}
        <div class="extra row">
          <div class="column column-50">
            {% include "layouts/education.njk" %}
          </div>
          <div class="column column-50">
            {% include "layouts/skill.njk" %}
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
