<div class="exp-proj section">
  <div class="title">PROJECTS</div>

  {% for item in local.projects %}
  <div class="entry">
    <div class="primary">
      {{item.title}}
      {% if item.url %}
      <a href="{{item.url}}" target="_blank"><img class="link-icon" src="/images/link.svg"></img></a>
      {% endif %}
    </div>
    <div class="secondary">
      {{item.desc}}
    </div>
  </div>
  {% endfor %}
</div>
