<div class="skill section">
  <div class="title">SKILLS</div>

  {% for item in local.skills %}
  <div class="entry">
    <div class="secondary">
      {{item.name}}
      <div class="progress-bar">

        {% if item.score > 8 %}
          <div class="enable green" style="width: {{item.score*10-2}}%;"></div>
        {% elif item.score > 6 %}
          <div class="enable blue" style="width: {{item.score*10-2}}%;"></div>
        {% elif item.score > 4 %}
          <div class="enable orange" style="width: {{item.score*10-2}}%;"></div>
        {% elif item.score > 2 %}
          <div class="enable purple" style="width: {{item.score*10-2}}%;"></div>
        {% elif item.score > 0 %}
          <div class="enable red" style="width: {{item.score*10-2}}%;"></div>
        {% endif %}

        {% if item.score < 10 %}
        <div class="rest" style="width: {{100-item.score*10}}%;" ></div>
        {% endif %}

      </div>

    </div>
  </div>
  {% endfor %}
</div>
