
<div class="social">
  {% for item in local.social %}
  <div class="entry row">
    <div class="column column-33 title">
      {{item.name | capitalize}}
    </div>
    <div class="column column-67">
      <a href="{{item.url}}" target="_blank">{{item.username}}</a>
    </div>
  </div>
  {% endfor %}
</div>
